In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from time import time
from IPython.display import display # Allows the use of display() for DataFrames
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from datetime import datetime
from datetime import timedelta
import matplotlib.dates as mdates

# Pretty display for notebooks
%matplotlib inline

In [4]:
#Parameters
data_directory = "./data/"
output_directory = "./out/"

input_file = "urban_population_growth_annual_percent.csv"



#Open data file
data = pd.read_csv(data_directory + input_file)

In [5]:
pd.set_option('display.max_columns', 500)

In [6]:
data.head()

,country,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,5.14,5.19,5.24,5.28,5.34,5.37,5.40,5.39,5.45,5.55,5.68,5.78,5.81,5.74,5.56,5.30,5.09,4.85,4.39,3.60,3.08,2.01,1.11,0.572,0.622,1.17,1.81,2.49,3.64,2.46,4.35,6.320,7.740,8.080,7.310,5.990,4.560,3.500,3.000,3.2400,3.910,4.66,5.13,5.23,5.12,4.77,4.12,3.65,3.40,3.46,3.70,3.980,4.15,4.19,4.06,3.82,3.56,3.41
1,Albania,5.39,3.89,3.29,3.18,3.11,2.98,2.86,2.86,3.07,3.22,3.16,3.03,3.10,2.96,2.90,2.90,2.81,2.81,2.67,2.58,2.83,2.78,2.88,2.890,2.870,2.82,2.69,2.76,2.64,3.44,2.54,0.141,0.878,0.856,0.844,0.824,0.812,0.788,0.775,0.7560,0.742,0.71,2.18,2.06,1.97,1.83,1.66,1.49,1.44,1.47,1.61,1.790,1.85,1.74,1.65,1.48,1.54,1.54
2,Algeria,5.52,6.62,6.83,6.76,6.74,6.73,5.89,3.26,3.30,3.29,3.25,3.20,3.17,3.16,3.18,3.22,3.25,3.93,5.00,5.03,5.06,5.08,5.09,5.060,5.000,4.89,4.79,4.62,4.35,4.22,4.08,3.950,3.810,3.650,3.470,3.290,3.120,2.950,2.820,2.7800,2.700,2.62,2.56,2.53,2.55,2.60,2.65,2.70,2.76,2.82,2.88,2.950,3.00,2.99,2.92,2.81,2.68,2.56
3,Andorra,10.50,11.20,10.70,10.30,9.72,9.23,8.75,8.29,7.88,7.57,7.33,7.16,6.93,6.55,6.00,5.34,4.72,4.25,3.97,4.12,4.41,4.69,4.94,5.040,5.000,4.88,4.38,3.93,3.85,3.75,3.69,3.700,3.620,3.250,2.520,1.610,0.542,-0.313,-0.560,0.0738,1.280,2.57,3.49,3.90,3.60,2.87,2.13,1.51,1.07,0.61,-0.12,-0.935,-1.70,-2.12,-2.06,-1.65,-1.05,-0.52
4,Angola,5.07,5.35,5.64,5.61,5.54,5.42,5.32,5.26,5.27,5.36,5.54,6.62,7.52,7.61,7.69,7.71,7.72,7.71,7.76,7.84,7.94,8.04,8.10,8.020,7.800,7.46,7.11,6.82,6.66,6.65,6.75,6.880,6.960,6.910,6.740,5.730,5.490,5.300,5.230,5.2900,5.440,5.59,5.70,5.76,5.75,5.69,4.92,4.89,4.87,4.85,4.83,4.810,4.77,4.72,4.65,4.56,4.47,4.38

In [12]:
data[1:4]

,country,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1,Albania,5.39,3.89,3.29,3.18,3.11,2.98,2.86,2.86,3.07,3.22,3.16,3.03,3.10,2.96,2.90,2.90,2.81,2.81,2.67,2.58,2.83,2.78,2.88,2.89,2.87,2.82,2.69,2.76,2.64,3.44,2.54,0.141,0.878,0.856,0.844,0.824,0.812,0.788,0.775,0.7560,0.742,0.71,2.18,2.06,1.97,1.83,1.66,1.49,1.44,1.47,1.61,1.790,1.85,1.74,1.65,1.48,1.54,1.54
2,Algeria,5.52,6.62,6.83,6.76,6.74,6.73,5.89,3.26,3.30,3.29,3.25,3.20,3.17,3.16,3.18,3.22,3.25,3.93,5.00,5.03,5.06,5.08,5.09,5.06,5.00,4.89,4.79,4.62,4.35,4.22,4.08,3.950,3.810,3.650,3.470,3.290,3.120,2.950,2.820,2.7800,2.700,2.62,2.56,2.53,2.55,2.60,2.65,2.70,2.76,2.82,2.88,2.950,3.00,2.99,2.92,2.81,2.68,2.56
3,Andorra,10.50,11.20,10.70,10.30,9.72,9.23,8.75,8.29,7.88,7.57,7.33,7.16,6.93,6.55,6.00,5.34,4.72,4.25,3.97,4.12,4.41,4.69,4.94,5.04,5.00,4.88,4.38,3.93,3.85,3.75,3.69,3.700,3.620,3.250,2.520,1.610,0.542,-0.313,-0.560,0.0738,1.280,2.57,3.49,3.90,3.60,2.87,2.13,1.51,1.07,0.61,-0.12,-0.935,-1.70,-2.12,-2.06,-1.65,-1.05,-0.52

In [19]:
data = data.set_index(['country'])

In [20]:
data.loc['Albania']

1960    5.390
1961    3.890
1962    3.290
1963    3.180
1964    3.110
1965    2.980
1966    2.860
1967    2.860
1968    3.070
1969    3.220
1970    3.160
1971    3.030
1972    3.100
1973    2.960
1974    2.900
1975    2.900
1976    2.810
1977    2.810
1978    2.670
1979    2.580
1980    2.830
1981    2.780
1982    2.880
1983    2.890
1984    2.870
1985    2.820
1986    2.690
1987    2.760
1988    2.640
1989    3.440
1990    2.540
1991    0.141
1992    0.878
1993    0.856
1994    0.844
1995    0.824
1996    0.812
1997    0.788
1998    0.775
1999    0.756
2000    0.742
2001    0.710
2002    2.180
2003    2.060
2004    1.970
2005    1.830
2006    1.660
2007    1.490
2008    1.440
2009    1.470
2010    1.610
2011    1.790
2012    1.850
2013    1.740
2014    1.650
2015    1.480
2016    1.540
2017    1.540
Name: Albania, dtype: float64